* {
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}

body {
    background-color: rgb(233, 220, 242);
}

h1 {
    font-weight: lighter;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

button {
    display: flex;
    width: 100px;
    margin: 0 auto;
    flex-direction: row;
    text-align: center;
}


#quoteDisplay {
    display: flex;
    justify-content: center;
}


/* #quoteHere {
    display: flex;
    justify-content: center;
    margin-top: 35px; */
    /* background-color: white;
    width: 50%;
    height: 30%; */
/* } */