* {
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}

body {
    background-color: rgb(233, 220, 242);
}

h1 {
    font-weight: lighter;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 300px;
}


#quoteDisplay {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
}

button {
    width: 100px;
    margin-right: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    padding: 20px;
}


/* #quoteHere {
    display: flex;
    justify-content: center;
    margin-top: 35px; */
    /* background-color: white;
    width: 50%;
    height: 30%; */
/* } */